body {
    padding-top: 45px;
    font-family: "Ubuntu Condensed", serif;
    background-color: #262626;
}

/*------------------------------------------------------------------------------------------------



Main



-------------------------------------------------------------------------------------------------*/

main {
    height: 2000px;
}

/*(begin of parallax) ------------------------------------------------------------------------------------------------*/

.parallax {

    background-image: url("../img/ILLU GUINGUETTES.jpg");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {

    background-image: url("../img/MONTAGNE Ariane Typo 2-1.jpg");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------------------------------------------------------------------------------------- (end of parallax)*/
