/*------------------------------------------------------------------------------------------------



Body



-------------------------------------------------------------------------------------------------*/

body {
    padding-top: 45px;
    font-family: "Ubuntu Condensed", serif;
    background-color: #262626;
}

/*------------------------------------------------------------------------------------------------



Main



-------------------------------------------------------------------------------------------------*/

main {
    height: 1700px;
}



.margin {
    margin-top: 50px;
}
.theme--light.application {
    background-color: #262626;
}
.application--wrap {
    min-height: 0%;
}



