link(href="https://fonts.googleapis.com/icon?family=Material+Icons", type="text/css", rel="stylesheet")
link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons', rel='stylesheet')

link(href="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
link(href="https://cdn.jsdelivr.net/npm/vue")

link(href='https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css', rel='stylesheet')

link(href="/css/index.css", type="text/css", rel="stylesheet")
link(href="/css/partials/icon-scroll.css", type="text/css", rel="stylesheet")
link(href="/css/partials/nav.css", type="text/css", rel="stylesheet")
link(href="/css/partials/footer.css", type="text/css", rel="stylesheet")

meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='shortcut icon', type='image/png', href='img/favicon.ico')

title= title

block head
