doctype html
html
    head
        include ./head
    body(ng-app="magenta-showcase")
        // include ./nav
        div#main
            block content
        block footer
            include ./footer
