nav
    .nav-wrapper
        a.center.brand-logo(href="/")
            | Welcome to #{title}
        ul#nav-mobile.right.hide-on-med-and-down
            li
                .yellow.darken-1
                    a.black-text(href="/")
                        i.material-icons home
            li
                .yellow.darken-1
                    a.black-text(href="/admin")
