extends ./partials/layout.pug

block head

    link(href="/css/contact.css", type="text/css", rel="stylesheet")

block content

    main

        #contact-form.contact-form
            h1.contact-form_title Contact Me
            .separator
            .loading(v-if='isSending') Sending...
            form.form(@submit='onSubmit')
                input(required='', name='name', v-model='contact.name', placeholder='Name', type='text', autocomplete='off')
                input(required='', name='email', v-model='contact.email', placeholder='E-mail', type='email', autocomplete='off')
                textarea(name='message', v-model='contact.message', rows='4', placeholder='Message')
                button.button Send

    footer

        #footer-wrap
            #footer
                p
                    | © 2019 Fuego Entertainment

                    | Design by : &nbsp;
                    a(href='/index') Arianne Montagne
                    |  |

                    | Code by : &nbsp;
                    a(href='/index') Steven Travers

block footer

    script(src="/js/contact.js", type="text/javascript")