extends ./partials/layout.pug

block head
    link(href="/css/login.css", type="text/css", rel="stylesheet")

block content
    .container.s12#login(ng-controller="loginCtrl")
        .row
            form.col.s3(action="/login", method="post")
                h2 > Login
                .input-field
                    i.material-icons.prefix account_circle
                    input.validate#email(type="text", name="username")
                    label(for="username") Email
                .input-field
                    i.material-icons.prefix lock_outline
                    input.validate#password(type="password", name="password")
                    label(for="password") Password
                .center
                    button.btn#submit Login
        .row
            .col.s3.center
                a.btn(href="/signup") Sign-up
